<!-- <p class="animate__animated animate__bounceInDown">heros works!</p> -->

<h1>Heros List</h1>
<hr>
<div class="row">
    <div class="col text-end">
        <button type="button" class="btn btn-primary" routerLink="/hero/new"><i class="fa fa-plus"></i> Add</button>
    </div>
</div>

<table *ngIf="!loading" class="table mt-5 table-hover animate__animated animate__fadeIn ">
    <thead>
        <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Power</th>
            <th scope="col">Live</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hero of heros; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{hero.name}}</td>
            <td>{{hero.power}}</td>
            <td *ngIf="hero.life">Life</td>
            <td *ngIf="!hero.life">Died</td>
            <!-- <td>{{hero.life}}</td> -->
            <td>
                <button [routerLink]="['/hero',hero.id]" class="btn btn-info m-1">
                    <i class="fa fa-edit "></i> 
                </button>
                <button (click)="deleteHero(hero,i)" class="btn btn-danger ">
                    <i class="fa fa-trash "></i>
                </button>
            </td>
        </tr>

    </tbody>
</table>

<div *ngIf="heros.length == 0 && !loading" class="alert alert-warning text-center animate__animated animate__fadeIn">
    <h4 class="alert-heading">No records</h4>
    <p>
        <i class="fa fa-exclamation  fa-2x"></i>
    </p>

</div>


<div *ngIf="loading" class="alert alert-info text-center animate__animated animate__fadeIn mt-5">
    <h4 class="alert-heading">Loading</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Please wait...
    </p>
</div>