<!-- <p class="animate__animated animate__bounceInDown">heros works!</p> -->

<h1>Heros List</h1>
<hr>
<div class="row">
    <div class="col text-end">
        <button type="button" class="btn btn-primary" routerLink="/hero/nuevo"><i class="fa fa-plus"></i> Add</button>
    </div>
</div>

<table class="table mt-5 table-hover animate__animated animate__fadeIn ">
    <thead>
        <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Power</th>
            <th scope="col">Live</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>

    </tbody>
</table>

<div class="alert alert-warning text-center animate__animated animate__fadeIn">
    <h4 class="alert-heading">No records</h4>
    <p>
        <i class="fa fa-exclamation  fa-2x"></i>
    </p>

</div>


<div class="alert alert-info text-center animate__animated animate__fadeIn">
    <h4 class="alert-heading">Loading</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Please wait...
    </p>
</div>